
.section-3__title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3vw;
}
.section-3__box-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.section-3__box{
    height: auto;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 10vw;
    border-radius: 18px;
}
.section-3__box img{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.section-3__text-Wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
}
.section-3__sub-title{
    font-size: 1rem;
    margin-bottom: 2px;
}
.section-3__discription{
    font-size: 1rem;
    color: #585859;
    margin-bottom: 10px;
}
.section-3-button-wrapper button{
    font-size: .6rem;
    margin-bottom: 5px;
}
.section-3__date-sit-wrapper{
    display: flex;
    font-size: .7rem;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:950px){
    .section-3__title{
        font-size: 2rem;
    }
    .section-3__box-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .section-3__box{
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }
    .section-3__text-Wrapper{
        margin-left: 30px;
        margin-bottom: 12px;
        margin-right: 12px;
    }
    .section-3__sub-title{
        font-size: 1rem;
    }
    .section-3__discription{
        font-size: .9rem;
        margin-bottom: 10px;
    }
    .section-3-button-wrapper button{
        font-size: .9rem;
        margin-bottom: 10px;
    }
    .section-3__date-sit-wrapper{
        font-size: .7rem;
    }
}

@media (max-width:810px){
    .section-3__title{
        font-size: 1.5rem;
    }
    .section-3__box-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .section-3__text-Wrapper{
        margin-left: 10px;
        margin-bottom: 12px;
        margin-right: 12px;
    }
    .section-3__sub-title{
        font-size: .8rem;
    }
    .section-3__discription{
        font-size: .7rem;
        margin-bottom: 10px;
    }
    .section-3-button-wrapper button{
        font-size: .5rem;
        font-weight: 500;
    }
    .section-3__date-sit-wrapper{
        font-size: .6rem;
    }
}
@media (max-width:635px){
    .section-3__title{
        font-size: 1.5rem;
    }
    .section-3__box-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        margin-left: 10%;
        margin-right: 10%;
    }
    .section-3__text-Wrapper{
        margin-left: 10px;
        margin-bottom: 12px;
        margin-right: 12px;
    }
    .section-3__sub-title{
        font-size: .8rem;
    }
    .section-3__discription{
        font-size: .7rem;
        margin-bottom: 10px;
    }
    .section-3-button-wrapper button{
        font-size: .5rem;
        font-weight: 500;
    }
    .section-3__date-sit-wrapper{
        font-size: .6rem;
    }
}

